@model library_management_system.Models.Issue

@{
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}

<div class="card w-50 m-auto mt-5">
    <div class="card-body">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Student)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Student.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Book)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Book.Title)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IssueDate)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.IssueDate)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ReturnDate)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.ReturnDate)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Status)
                </dd>
               
            </dl>
            <hr />
            <form asp-action="Delete">
                <input type="hidden" asp-for="IssueID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </form>
        </div>
    </div>

</div>
