@model library_management_system.Models.Student

@{
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}
<div class="card w-50 m-auto mt-5">
    <div class="card-body">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.branches)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.branches.BranchName)
                </dd>
            </dl>
            <hr />
            <form asp-action="Delete">
                <input type="hidden" asp-for="StudentID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </form>
        </div>

    </div>

</div>