@model library_management_system.Models.Student

@{
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}
<div class="card w-50 m-auto mt-5">
    <div class="card-body">

        <div>
            <h4>Student</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.branches)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.branches.BranchName)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.StudentID" class="btn btn-warning">Edit</a> |
            <a asp-action="Index" class="btn btn-danger">Back to List</a>
        </div>

    </div>
</div>