@model library_management_system.Models.Book

@{
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}

<div class="card w-50 m-auto mt-5">
    <div class="card-body">
        <div>
            <h4>Book</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Publication)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Publication.Year)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Branch)
                </dt>
                <dd class="col-sm-8 mb-3">
                    @Html.DisplayFor(model => model.Branch.BranchName)
                </dd>
            </dl>
        </div>
        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.BookID" class="btn btn-warning">Edit</a> |
            <a asp-action="Index" class="btn btn-danger">Back to List</a>
        </div>

    </div>
</div>
